.radio-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.7rem, 1fr));
  gap: 1.6rem;

  &__item {
    font-size: 2.4rem;
    color: var(--white);
    border-radius: 0.5rem;
    background-color: #00474b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.8rem;
    place-items: center;
  }

  &__item--bg-transparent {
    background-color: transparent;
  }

  &__item > input,
  &__item > span {
    grid-column: 1;
    grid-row: 1;
  }

  &__item > input[type="radio"] {
    z-index: -1;
  }

  &__item:has(input[type="radio"]:checked) {
    background-color: #26c2ae;
    color: #00474b;
  }

  &__item:has(input[type="radio"]:checked) input[type="number"] {
    background-color: #26c2ae;
    color: #00474b;
  }

  &__item:has(input[type="radio"]:focus-visible) {
    outline: 0.4rem solid #26c2ae;
  }

  &__item > input[type="number"] {
    align-self: stretch;
    border: none;
    background-color: #f3f9fa;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 24px;
    color: #547878;
    inline-size: 100%;
  }

  &__item > input[type="number"]::placeholder {
    color: currentColor;
  }

  @media (hover: hover) {
    &__item:has(input[type="radio"]):hover {
      background-color: #9fe8df;
      color: #00474b;
      cursor: pointer;
    }

    &__item > input[type="number"]:hover {
      outline: 0.2rem solid #26c2ae;
      cursor: pointer;
    }
  }
}